/* .dark .react-pdf__Page__textContent span {
  color:  white !important;
} */

.textLayer {
  background-color:;
  border-radius:;
}

.textLayer span {
  display: inline !important;
  white-space: inline !important;
}
